# Virtual environment
venv/

# Environment variables / secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / editor
.vscode/
.idea/

# Django
media/
staticfiles/
db.sqlite3
*.log

# OS
.DS_Store
Thumbs.db
.venv/
